.message_modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 30px 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    display: flex;
    overflow-y: auto;
}

.message_box {
    margin: auto;
    width: 500px;
    max-width: 94%;
    position: relative;
}

.message_close{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    margin-top: -16px;
    margin-right: -10px;
    cursor: pointer;
    z-index: 9997;
    font-weight: bold;
}

.message_close p{
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    background: #ee5253;
    padding: 2px 15px 2px 8px;
    margin-right: -10px;
    color: #FFFFFF;
}

.message_close span{
    font-size: 1.4em;
    background: #ee5253;
    padding: 2px 6px 4px;
    color:#FFFFFF;
}

.message_close:hover p,
.message_close:hover span{
    background: #AA0000;
}

.message {
    display: block;
    border: 5px solid #555555;
    border-left-width: 32px;
    margin: 0;
    padding: 30px 15px;
    background: #FFFFFF;
    border-bottom-right-radius: 5px ;
    font-weight: bold;
}

.message_time{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 4%;
    height: 5px;
    background: rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
}

.message.success {
    color: #159B4F;
    border-color: #159B4F;
}

.message.info {
    color: #0080C0;
    border-color: #0080C0;
}

.message.alert {
    color: #ff9f43;
    border-color: #ff9f43;
}

.message.error {
    color: #ee5253;
    border-color: #ee5253;
}

.message a {
    font-weight: 800;
    color: inherit;
}